/* CSS of CV.html */

html {
  font-size: 62.5%;
}

:root {
  /* root of cv-flex */
  --color-main: #f3c90e;
  --backround-color: #a5a5a5;
  --font-color: #ffffff;

  /* root of product-lists */
  --product-main-color: rgb(170, 26, 26);
}
.cv-container {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: black;
}

.cv-main {
  display: flex;
  width: 1000px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px 5px #ccc;
}

.cv-sidebar {
  width: 33.33%;
  flex-grow: 1;
  background-color: var(--backround-color);
  color: var(--font-color);
  padding: 2rem;
}
.avatar {
  width: 300px;
  height: 400px;
  border: 2px solid var(--color-main);
  object-fit: cover;
}
.cv-infor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0px;
  font-size: 1.5rem;
}
.cv-infor h3 {
  font-size: 2rem;
  color: var(--color-main);
}
.cv-infor a {
  color: var(--font-color);
}
.cv-infor i {
  margin-right: 0.5rem;
}
.additional {
  list-style: disc;
  padding: 0px 5px 0px 20px;
}
.additional-text {
  padding: 5px 0;
}
.cv-wrapped {
  flex-grow: 2;
  padding: 3rem;
  line-height: 2rem;
}

.cv-header {
}

.cv-header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 1.8rem;
}

.cv-header > p {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.cv-body {
}

.tittle {
  display: flex;
  justify-content: space-between;
}

.tittle > h3 {
  margin: 2rem 0px;
  display: inline-block;
  font-size: 2rem;
  color: var(--color-main);
}

.tittle > h3 > i {
  margin-right: 3px;
}
.Job-info {
  list-style: disc;
}
.Job-info .description {
  margin-left: 3rem;
  font-size: 1.5rem;
  padding: 5px 0;
}

/* CSS Of Pricing-Flex */

.heading-content {
  margin: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c0baf;
  font-size: 4.8rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 4px;
}
.pricing-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.pricing-wrapped {
  display: flex;
  justify-content: center;
  flex: none;
}
.pricing-wrapped:nth-child(1) .pricing-menu:hover {
  box-shadow: 0px 0px 40px 1px #52e697;
}
.pricing-wrapped:nth-child(2) .pricing-menu:hover {
  box-shadow: 0px 0px 40px 1px #f36bff;
}
.pricing-wrapped:nth-child(3) .pricing-menu:hover {
  box-shadow: 0px 0px 40px 1px #ff6c6c;
}

.pricing-menu {
  width: 400px;
  height: 600px;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #616161;
}
.pricing-header {
  height: calc(600px - (600px * (2 / 3)));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
}
.pricing-wrapped .pricing-header .pricing-cash {
  font-size: 4.8rem;
  color: #6ddd63;
}
.pricing-wrapped:nth-child(2) .pricing-header .pricing-cash {
  color: #9219aa;
}
.pricing-wrapped:nth-child(3) .pricing-header .pricing-cash {
  color: #ff6c6c;
}

.pricing-menu .pricing-header p {
  font-size: 1.4rem;
  color: #a1a1a1;
  letter-spacing: 1px;
}
.pricing-menu .pricing-body {
  height: calc(600px - (600px * (1 / 3)));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(-45deg, #52e697 0%, #fffb7d 100%);
}
.pricing-wrapped:nth-child(2) .pricing-menu .pricing-body {
  background-image: linear-gradient(-45deg, #9219aa 0%, #fa8dfa 100%);
}
.pricing-wrapped:nth-child(3) .pricing-menu .pricing-body {
  background-image: linear-gradient(-45deg, #ff6c6c 0%, #f7a8a8 100%);
}

.pricing-body .package {
  display: inline-block;
  margin: 30px 0px;
  font-size: 25px;
  color: white;
}
.pricing-body .pricing-list {
  margin-left: 90px;
  line-height: 40px;
  text-align: justify;
  font-size: 1.4rem;
}
.pricing-body .pricing-list .pricing-items {
  color: white;
}
.pricing-body .pricing-list .pricing-items::before {
  content: "\2714";
  margin-right: 15px;
  font-weight: bold;
}
.pricing-wrapped:nth-child(1) .pricing-items:nth-child(n + 2)::before,
.pricing-wrapped:nth-child(3) .pricing-items:last-child::before {
  content: "\010102";
  margin-right: 15px;
  font-size: 2rem;
}
.pricing-wrapped .pricing-btn {
  padding: 10px 60px;
  margin-top: 30px;
  color: #6ddd63;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
}
.pricing-wrapped:nth-child(2) .pricing-btn {
  color: #9219aa;
}
.pricing-wrapped:nth-child(3) .pricing-btn {
  color: #ff6c6c;
}
.pricing-wrapped .pricing-btn:hover {
  box-shadow: 0px 0px 20px 1px #5858587e;
}

/* CSS Of Product - List */
.product-container {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px;
}
.product-header {
  text-align: center;
  margin: 30px;
}
.product-header > h1 {
  font-size: 4rem;
  font-weight: bold;
}
.product-body {
  max-width: 1200px;
  margin: 0 auto;
}
.product-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.product-wrapped {
  width: calc((100% / 3) - 50px);
  padding: 10px;
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
}
.product-wrapped:hover {
  box-shadow: 0px 0px 10px #5e5d5d;
}
.product-wrapped:hover img {
  transform: translateY(-10px);
}
.product-top {
  display: flex;
  justify-content: space-between;
}
.product-payment {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid var(--product-main-color);
  color: var(--product-main-color);
  font-size: 1.5em;
}
.product-discount {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: var(--product-main-color);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.product-discount i {
  font-size: 1.3rem;
}

.product-image > img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  padding: 10px;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.product-middle {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}
.product-name {
  font-size: 2rem;
}
.product-price {
  font-size: 1.8rem;
  color: var(--product-main-color);
  font-weight: bold;
  padding-top: 10px;
}
.product-unit {
  font-size: 1.8rem;
  text-decoration: line-through;
  color: #5e5d5d;
}
